/* 
    Created on : 07-feb-2016, 19:24:21
    Author     : Carlos Cuesta
    Defina aquí bloques de estilos pequeños o use archivos aparte e impórtelos en estilos.css
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}
